@font-face {
  font-family: 'Comfortaa';
  src: url(./fonts/Comfortaa/Comfortaa-Variable.ttf) format('truetype');
  font-display: block;
  font-weight: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url(./fonts/OpenSans/OpenSans-Regular.ttf) format('truetype');
  font-display: block;
  font-weight: normal;
}

body {
  margin: 0;
  font-family: Comfortaa, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
